<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="home-box">
      <h1>Welcome to Our Site</h1>
      <form action="/auth/logout" method="POST">
        <button type="submit" class="logout-btn">Logout</button>
      </form>
    </div>
  </body>
</html>
