<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <div class="signup-container">
      <div class="signup-box">
        <h1>Log in</h1>
        <form action="/auth/login" method="post" class="box">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required /><br />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required /><br />

          <button type="submit">Login</button>
        </form>
        <div class="login-link">
          <p>Don't have a account? <a href="/auth/signup">Signup here</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
